In [ ]:
"""
A database is a structured collection of data that is organized in a way that enables efficient storage, 
retrieval, and management of data. It is a key component of most modern software applications and is used
to store and manage large volumes of data.

SQL Databases:

SQL databases are relational databases that store data in tables with rows and columns.
They use SQL as the query language for interacting with the database.
SQL databases are well-suited for applications with structured data and complex queries, such as
transactional systems, e-commerce platforms, and financial applications.
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL Databases:

NoSQL databases are non-relational databases that store data in a variety of formats, including key-value
pairs, documents, and graphs.
They use query languages that are specific to the type of database, such as MongoDB's query language 
for document databases.
NoSQL databases are well-suited for applications with large volumes of unstructured or semi-structured data, such as big data analytics, real-time web applications, and content management systems.
Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.
"""

In [ ]:
"""
DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define the structure 
of a database and its objects. DDL statements are used to create, modify, and delete database objects such 
as tables, indexes, and views
"""

In [ ]:
"""
CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, and 
databases themselves. It specifies the name of the object, its columns (for tables), and other attributes.

DROP: The DROP statement is used to delete existing database objects. 
It completely removes the object and its data from the database.

ALTER: The ALTER statement is used to modify existing database objects. 
It can be used to add, modify, or drop columns, constraints, or indexes.

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, but the table structure and
its columns remain intact. It is faster than DELETE for large tables because it does not generate
individual DELETE statements for each row.
"""

In [ ]:
"""
DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate data 
stored in a database. DML statements are used to insert, update, delete, and retrieve data from database 
tables. The main DML statements include:

INSERT: The INSERT statement is used to add new rows of data into a table. It specifies the table name and
the values to be inserted into each column.

UPDATE: The UPDATE statement is used to modify existing rows of data in a table. It specifies the table name, 
the columns to be updated, and the new values.

DELETE: The DELETE statement is used to remove rows of data from a table. It specifies the table name and an
optional WHERE clause to specify which rows to delete



"""

In [ ]:
"""
DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a
database. DQL statements are used to query the database tables to retrieve specific information. 

SELECT: The SELECT statement is used to retrieve data from one or more tables. It specifies the columns 
to retrieve and the table or tables from which to retrieve the data. It can also include various clauses
to filter, sort, and group the results.
"""
SELECT id, name, age
FROM employees
WHERE age > 30
ORDER BY name ASC;

In [ ]:
"""
A primary key is a column or a set of columns that uniquely identifies each row in a table.
It must contain unique values and cannot contain NULL values.
Primary keys are used to ensure the integrity of the data by uniquely identifying each record in the table.
Only one primary key can be defined for a table.
"""
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    age INT
);