In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


my_series = pd.Series(my_list)


print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
"""
 a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with 
 labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where each column can be a
 different data type (e.g., integer, float, string) and each row represents a unique record.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type.
It is like a single column of a DataFrame.
"""

In [3]:
import pandas as pd


data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)


series = pd.Series([10, 20, 30, 40])

print("DataFrame:")
print(df)
print("\nSeries:")
print(series)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Series:
0    10
1    20
2    30
3    40
dtype: int64

In [4]:
print(df.head())  # View the first 5 rows
print(df.tail(3))  # View the last 3 rows
df.info()
print(df.describe())
print(df.loc[2:4, ['Name', 'Age']])  # Select rows 2 to 4 and columns 'Name' and 'Age'
print(df.iloc[0, 1])  # Select the value at row 0, column 1
df = df.drop(columns=['City'])  # Drop the 'City' column
df = df.fillna(value=0)  # Fill missing values with 0

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000
      Name  Age
2  Charlie   35
3    David   40
25

In [ ]:
"""
In Pandas, both Series and DataFrame are mutable, meaning you can change their values, 
add new rows or columns, and modify existing data. However, Panel is considered deprecated 
and has been removed in more recent versions of Pandas, so it is not applicable here.
"""